.collapse {
    display: flex;
    flex-direction: column;
    max-width: 1023px;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    border-radius: 10px 10px 5px 5px;
    background: #F6F6F6;
}

.banner-collapse {
    display: flex;
    max-width: 1023px;
    width: 100%;
    align-self: start;
    height: 52px;
    align-items: center;
    border-radius: 10px;
    background-color: #FF6060;
}

.arrow {
    width: 32px;
    height: 32px;
    transform: rotate(-180deg);
    margin-left: auto;
    margin-right: 15px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(180deg);
}

.title {
    color: #FFF;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 500;
    margin-right: auto;
    margin: 15px;
}

.information {
    color: #FF6060;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 400;
    text-align: justify;
    padding: 20px;
    margin-right: auto;
    list-style-type: none;
}

@media only screen and (max-width: 767px) {
    .banner-collapse {
        height: 35px;
    }
    
    .arrow {
        width: 24px;
        height: 24px;
    }

    .title {
        font-size: 16px;
    }
    
    .information {
        font-size: 12px;
    }
}
