
.card {
    position: relative;
    width: 30%;
    min-width: 270px;
    height: 270px;
    overflow: hidden;
    border-radius: 10px;
}

.img-cover {
    object-fit: cover;
    height: 100%;
    filter: brightness(0.7);
}


.title-accommodation{
    position: absolute;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 500;
    bottom: 10px;
    left: 10px;
    color: white;
    text-align: left;
 
}

@media only screen and (max-width: 767px) {
    .card {
        width: 100%;
        max-width: 340px;
        height: 255px;
    }
}