.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 5vw;
    margin: auto;
    gap: 30px;
    margin-bottom: 38px;
}

.img-banner-about {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 223px;
    border-radius: 25px; 
    filter: brightness(0.7);
}

.container-banner-about {
    position: relative; 
    width: 100%;
}

@media only screen and (max-width: 767px) {
    .img-banner-about {
        width: 100%;
        height: 111px;
    }
    .about {
        gap: 20px;
        margin-bottom: 19px;
    }
}